body {
  font-family: Helvetica;
  text-align: center;
}

footer {
  text-align: left;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  font-size: 18px;
  Color: White;
  display: inline-block;
}

p {
  font-size: 14px;
  font-weight: bold;
}

.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: 100%;
}

.contact {
  background-color: White;
}
